
 
.esp{
    color: red;
    font-family: fantasy;
}
.sobre{
    color: black;
}
.sobre h2{
    font-weight: 600;
    opacity: 100%;
}
.city{
    max-width: 100%;
    height: 500px; 
}
.spc{
    margin-left: 2rem;
}
.imgtur{
    width: 500px ;
}
