*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5FFFA;
}
.nav-esp{
    background-color: red;
}
.nav-text{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.nav-text:hover{
    opacity: 0.7;
    color:#ffe866;
}

.container-index{
    display: flex;
    width: 100%;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

/*img carousel*/
.car-img{
    height: 700px;
}

/* card */
.cardin{
   width: 300px;
   height: 460px;
   margin: 25px;
   background-color: #fff;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card-header{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card-img{
    min-width:100% ;
    width: auto;
    height: 100%;
}

.card-body{
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}
.card-local{
    font-size: 16px;
    margin: 10px 0;
}
.card-titulo{
    font-size: 12px;
    margin: 15px 0;
}
.card-texto{
    font-size: 12px;
    width: 250px;
    margin: 0 auto;

}
.card-footer{
    margin-top: 10px;
    text-align: center;
    background-color: black;
}

.fot-a{
    color: #fff;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

.containerin{
    display: flex;
    justify-content: center;
}
.card-in{
    width:200px;
    height: 300px;
    border-radius: 15px; 
    background-color: antiquewhite;
}

.esp{
    color: red;
    font-family: fantasy;
}
.sobre{
    color: black;
}
.sobre h2{
    font-weight: 600;
    opacity: 100%;
}
.city{
    max-width: 100%;
    height: 500px; 
}
.spc{
    margin-left: 2rem;
}
.imgtur{
    width: 500px ;
}

.tur1{
    align-items: center;
    
}

.container-tur{
    align-items: center;

}

.text-tur{
    margin-top: ;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.alhambra{
    display: flex;
    flex-direction: row;
}

/*pagina info*/
.texto-info{
    color: red;
    font-size: 50px;
    font-family:cursive;
    text-shadow: 2px 2px  black;
}


.texto-info2{
    margin-top: 50px;
    color: red;
    font-size: 40px;
    font-family: cursive;
    text-shadow: 2px 2px  black;
}

.img-info{
    height: 500px; 
}
/*página cultura*/

.img-cultura{
    height: 200px;
}

.mg-cult{
    margin-top: 150px;
}    

.texto-titulo-cult{
    color: red;
    font-family: cursive;
    text-shadow: 1px 2px black;
    margin-top: 30px;
}
.text-cult{
    font-size: 20px;
    
}