
 
.esp{
    color: red;
    font-family: fantasy;
}
.sobre{
    color: black;
}
.sobre h2{
    font-weight: 600;
    opacity: 100%;
}
.city{
    width: 300px;
    height: 200px;
    align-items: center;
}
.cbody{
    a: center;
}
    
